* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cnt {
    position: absolute;
    width: 1440px;
    height: 866px;
    left: 0px;
    top: 0px;
}

.lb-2 {
    position: absolute;
    width: 420px;
    height: 116.52px;
    left: -152px;
    top: 718.49px;
}

.lb-1 {
    position: absolute;
    width: 420px;
    height: 116.52px;
    left: 0px;
    top: 635.5px;
}

.rb-1 {
    position: absolute;
    width: 420px;
    height: 116.52px;
    left: 988px;
    top: 448px;
}

.rb-2 {
    position: absolute;
    width: 612px;
    height: 140.81px;
    left: 828px;
    top: 508px;
}

.rb-3 {
    position: absolute;
    width: 420px;
    height: 116.52px;
    left: 1260px;
    top: 541.49px;
}

.bg {
    width: 1440px;
    height: 752px;
    left: 0px;
    top: 0px;
    backdrop-filter: blur(100px);
    opacity: 0.2;
}