@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primaryText: #111827;
    --secondaryText: #ffffff;
    --primaryColor: #7C3AED;
    --secondaryColor: #D5FAFC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* ------------------- Header ------------------- */

header {
    grid-area: header;
}

header > * {
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.nav-links {
    display: flex;
}

.nav-links-logo {
    display: flex;
    align-items: center;
}

.nav-links-logo a {
    padding-left: 1rem;
}

.nav-links div {
    margin: 0 24px;
    align-self: center;
}

.nav-links div a {
    text-decoration: none;
    color: var(--primaryText);
}

.nav-store-links {
    display: flex;
}

.nav-store-links a {
    text-decoration: none;
    color: var(--secondaryText);
}

.nav-store-links-div {
    background-color: black;
    margin: 0 .5rem;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    z-index: 5;
    position: relative;
}

.nav-burger {
    display: none;
    align-self: center;
}

.small-link {
    font-size: .6rem;
}

.header {
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-around;
}

.header-news {
    padding: 8rem 1rem;
    max-width: 648px;
}

.header-headline h1 {
    font-size: 3rem;
}

.header-line {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header-line span {
    line-height: 2rem;
    font-size: 1.3rem;
}

.header-links {
    display: flex;
    padding-top: 1rem;
    align-items: center;
}

.header-links button {
    width: 138px;
    height: 56px;
    background-color: var(--primaryColor);
    color: var(--secondaryText);
    border: none;
    outline: none;
    font-size: 1.2rem;
    border-radius: 8px;
}

.header-links-sep {
    display: flex;
    align-content: center;
    padding-left: 3rem;
}

.header-links-sep a {
    padding-left: .5rem;
    padding-top: .2rem;
    text-decoration: none;
    color: var(--primaryColor);
    font-weight: bold;
}

.header-link {
    align-self: center;
}

.header-shows {
    display: flex;
    justify-content: center;
}

.iphone-x {
    position: relative;
    z-index: 1;
    height: 694px;
    width: 342px;
}

.iphone-x *, .iphone-x *::before, .iphone-x *::after {
    box-sizing: border-box;
    display: block;
}

.iphone-x .side {
    background: #1c1c1c;
    border-radius: 54px;
    box-shadow: inset 0 0 2px 2px dimgrey, inset 0 0 0 6px #e2e3e9, 0px -1px 13px 9px rgba(255, 255, 255, 0.8) inset;
    height: 694px;
    padding: 15px 22px;
    width: 342px;
    z-index: 1;
}

.iphone-x .screen {
    background: #000;
    background-position: center center;
    background-size: cover;
    border-radius: 33px;
    position: relative;
    height: 652px;
    width: 300px;
    margin-left: -1px;
    margin-top: 6px;
    z-index: 198;
    overflow: hidden;
}

.screen img {
    height: 680px;
    width: 310px;
    margin-top: 0px;
    margin-left: -10px;
}

.iphone-x .iphone-header {
    background: #1c1c1c;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    height: 24px;
    left: 50%;
    margin-left: -82px;
    position: absolute;
    top: 15px;
    width: 164px;
    z-index: 199;
}

.iphone-x .sensor-1::after, .iphone-x .sensor-1::before {
    content: "";
    position: absolute;
}

.iphone-x .sensor-1::after {
    background: #222;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    left: 1%;
    margin-left: 10px;
    top: 3px;
}

.iphone-x .sensor-1::before {
    background: #222;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    left: 10%;
    margin-left: 20px;
    top: 3px;
}

.iphone-x .sensor-2::after, .iphone-x .sensor-2::before {
    content: "";
    position: absolute;
}

.iphone-x .sensor-2::before {
    background: #333;
    border-radius: 2.5px;
    height: 5px;
    width: 40px;
    left: 50%;
    margin-left: -20px;
    top: 7px;
}

.iphone-x .sensor-3::after, .iphone-x .sensor-3::before {
    content: "";
    position: absolute;
}

.iphone-x .sensor-3::before {
    background: #444;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    left: 50%;
    margin-left: 35px;
    top: 3px;
    box-shadow: 0px 0px 5px 2px navy inset
}

.iphone-x .sensor-3::after {
    background: #222;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    left: 65%;
    margin-left: 33px;
}

.iphone-x .volume-button {
    background: #c8cacb;
    height: 26px;
    left: -2px;
    position: absolute;
    top: 92px;
    width: 3px;
}

.iphone-x .volume-button::after, .iphone-x .volume-button::before {
    content: "";
    position: absolute;
    background: #c8cacb;
    height: 50px;
    left: 0;
    width: 3px;
}

.iphone-x .volume-button::after {
    top: 48px;
}

.iphone-x .volume-button::before {
    top: 112px;
}

.iphone-x .power-button {
    background: #c8cacb;
    height: 80px;
    right: -2px;
    position: absolute;
    top: 160px;
    width: 3px;
}

/* ------------------- Main ------------------- */

main {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "links"
        "features"
        "stories";
}

.links {
    grid-area: links;
}

.links-line {
    border-top: 1px solid #E5E7EB;
    margin: 50px auto;
    width: 80%;
    justify-items: center;
}

.links-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.links-item a {
    margin: 0 60px;
}

.features {
    grid-area: features;
}

.features-header {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.3rem;
    padding-top: 70px;
    padding-bottom: 20px;
}

.features-header h2 {
    font-size: 3rem;
    padding-bottom: 10px;
}

.features-header span {
    line-height: 25px;
}

.features-main {
    display: grid;
    grid-template-columns: repeat(3, 352px);
    text-align: center;
    justify-content: center;
}

.features-main div {
    margin: 50px 0;
}

.features-main h3 {
    font-size: 2rem;
}

.features-main span {
    font-size: 1.1rem;
}

.stories {
    grid-area: stories;
    background-color: var(--secondaryColor);
    display: grid;
}

.stories-quote {
    position: relative;
    width: 142px;
    height: 116px;
    left: 112px;
    top: 64px;
    opacity: 0.3;
}

.stories-headline {
    margin-left: 15rem;
    width: 488px;
}

.stories-headline h2 {
    font-size: 3rem;
}

.stories-headline span {
    font-size: 1.3rem;
}

.stories-quotes {
    display: flex;
    margin: auto;
}

.stories-left-side {
    margin: 80px 10px;
}

.stories-right-side {
    display: flex;
    flex-direction: column;
    margin: 80px 20px;
}

.stories-quote-1 {
    width: 384px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1), 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
    font-size: 1.3rem;
    padding-bottom: 40px;
}

.stories-quote-2 {
    width: 488px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1), 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
    font-size: 1.3rem;
    margin-bottom: 24px;
    padding-bottom: 40px;
}

.stories-quote-3 {
    width: 384px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px -2px rgba(17, 24, 39, 0.1), 0px 2px 4px -2px rgba(17, 24, 39, 0.06);
    font-size: 1.3rem;
    padding-bottom: 40px;
}

.stories-quote-svg {
    padding: 30px 25px;
}

.stories-quote-words {
    padding: 0 25px;
    display: flex;
}

.stories-quote-words article {
    padding-left: 1rem;
}

.author {
    font-weight: bold;
    padding-top: 20px;
}

.author-title {
    padding-top: 2px;
    color: #6B7280;
    font-size: 1rem;
}

/* ------------------- Footer ------------------- */

footer {
    grid-area: footer;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.footer-right-bar,
.footer-left-bar {
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-right-bar a {
    color: #fff;
    text-decoration: none;
}

.footer-links {
    display: flex;
    margin: 20px;
}

.footer-links a {
    margin: 10px;
    text-decoration: none;
    color: #fff;
}

.footer-right-text {
    color: #fff;
    margin-top: 20px;
}

.footer-links-div {
    background-color: black;
    border: 1px solid #A6A6A6;
    margin: 1rem 0;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

/** Background (Desktop) **/

.cnt-t {
    display: none;
}

.cnt-p {
    display: none;
}

.cnt {
    overflow-x: hidden;
    display: block;
    position: absolute;
    width: 100%;
    height: 866px;
    left: 0px;
    top: 0px;
}

.lb-2 {
    position: absolute;
    width: 420px;
    height: 116.52px;
    left: -152px;
    top: 718.49px;
}

.lb-1 {
    position: absolute;
    width: 420px;
    height: 116.52px;
    left: 0px;
    top: 635.5px;
}

.rb-1 {
    position: absolute;
    width: 420px;
    height: 116.52px;
    left: 988px;
    top: 448px;
}

.rb-2 {
    position: absolute;
    width: 612px;
    height: 140.81px;
    left: 828px;
    top: 508px;
}

.rb-3 {
    position: absolute;
    width: 420px;
    height: 116.52px;
    left: 1260px;
    top: 541.49px;
}

.bg {
    position: absolute;
    width: 100%;
    height: 752px;
    left: 0px;
    top: 0px;
    background: rgba(242, 247, 255, 0.7);
    backdrop-filter: blur(100px);
    opacity: 0.3;
}

.tc {
    position: absolute;
    width: 168px;
    height: 168px;
    left: 829px;
    top: 464px;
    background: #1DB5BE;
    opacity: 0.3;
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px);
}

.pc {
    position: absolute;
    width: 406px;
    height: 406px;
    left: 1087px;
    top: -37px;
    background: #7C3AED;
    opacity: 0.3;
    -webkit-filter: blur(100px);
    -moz-filter: blur(100px);
    -o-filter: blur(100px);
    -ms-filter: blur(100px);
    filter: blur(100px);
    z-index: 1;
}

/** Responsive (Tablet) **/

@media (max-width:768px) {

    .nav-link {
        display: none;
    }

    .nav-burger {
        display: inline-block;
        margin-left: 2rem;
        position: relative;
        z-index: 5;
    }

    .header {
        padding: 4rem 3rem;
        display: flex;
        flex-direction: column;
    }

    .header-news {
        padding: 3rem 0;
        max-width: 648px;
    }

    .links-item a {
        margin: 10px 40px;
    }

    .features {
        max-width: 768px;
    }

    .features-main {
        grid-template-columns: repeat(2, 352px);
    }

    .features-header span {
        padding: 0 60px;
    }

    .stories {
        padding-bottom: 80px;
    }

    .stories-header {
        padding-bottom: 40px;
    }

    .stories-headline {
        margin: 0 auto;
        width: 688px;
    }

    .stories-headline h2 {
        font-size: 2.5rem;
    }

    .stories-quote {
        width: 142px;
        height: 116px;
        left: 20px;
        top: 56px;
    }

    .stories-quotes {
        display: grid;
        grid-template-columns: 1fr;
    }

    .stories-left-side {
        margin: 0;
    }

    .stories-right-side {
        margin: 0;
    }

    .stories-quote-1 {
        width: 688px;
        margin-bottom: 24px;
    }

    .stories-quote-2 {
        width: 688px;
        margin-bottom: 24px;
    }

    .stories-quote-3 {
        width: 688px;
    }

    /** Background (Tablet) **/

    .cnt {
        display: none;
    }

    .cnt-t {
        overflow-x: hidden;
        display: block;
        position: absolute;
        width: 768px;
        height: 1100px;
        left: 0px;
        top: 0px;
    }

    .lb-2-t {
        position: absolute;
        left: -10.56%;
        right: 81.39%;
        top: 82.97%;
        bottom: 3.58%;
    }

    .lb-1-t {
        position: absolute;
        left: 0%;
        right: 70.83%;
        top: 73.38%;
        bottom: 13.16%;
    }

    .rb-1-t {
        position: absolute;
        left: 68.61%;
        right: 2.22%;
        top: 51.73%;
        bottom: 34.81%;
    }

    .rb-2-t {
        position: absolute;
        left: 57.5%;
        right: 0%;
        top: 58.66%;
        bottom: 25.08%;
    }

    .rb-3-t {
        position: absolute;
        left: 87.5%;
        right: -16.67%;
        top: 62.53%;
        bottom: 24.02%;
    }

    .bg-t {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 13.16%;
        background: rgba(242, 247, 255, 0.7);
        backdrop-filter: blur(100px);
        opacity: 0.3;
    }

    .tc-t {
        position: absolute;
        left: 57.55%;
        right: 30.73%;
        top: 53.55%;
        bottom: 27.09%;
        background: #1DB5BE;
        opacity: 0.3;
        -webkit-filter: blur(100px);
        -moz-filter: blur(100px);
        -o-filter: blur(100px);
        -ms-filter: blur(100px);
        filter: blur(100px);
    }

    .pc-t {
        position: absolute;
        left: 75.52%;
        right: -3.78%;
        top: -4.27%;
        bottom: 57.36%;
        background: #7C3AED;
        opacity: 0.3;
        -webkit-filter: blur(100px);
        -moz-filter: blur(100px);
        -o-filter: blur(100px);
        -ms-filter: blur(100px);
        filter: blur(100px);
    }
}

/** Responsive (Phone) **/

@media (max-width:375px) {

    body {
        max-width: 375px;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }

    .nav {
        justify-content: space-between;
        max-width: 360px;
    }

    .nav-store-links-div {
        display: none;
    }

    .header {
        max-width: 375px;
        padding: 12px;
        justify-content: center;
    }

    .header-news {
        padding: 80px 10px;
        max-width: 350px;
    }

    .header-shows {
        padding: 30px 0;
        max-width: 350px;
    }

    main {
        max-width: 375px;
    }

    .links {
        max-width: 375px;
        margin: 0;
        padding: 0;
    }

    .links-line {
        border-top: 1px solid #E5E7EB;
        margin: auto;
        justify-items: center;
    }

    .links-item {
        max-width: 350px;
        display: grid;
        grid-template-columns: repeat(2, 125px);
        grid-gap: 30px;
        justify-content: center;
    }

    .features {
        max-width: 375px;
        margin: 0;
        padding: 0;
    }

    .features-header {
        max-width: 375px;
        padding: 0 10px;
        margin-top: 50px;
    }

    .features-main {
        grid-template-columns: repeat(1, 352px);
    }

    .stories {
        max-width: 375px;
    }

    .stories-headline {
        max-width: 375px;
        margin: 0;
        padding: 0;
    }

    .stories-headline h2 {
        font-size: 2rem;
        padding-left: 15px;
    }

    .stories-headline span {
        font-size: 1.2rem;
        padding-left: 15px;
    }

    .stories-left-side {
        margin: 0;
    }

    .stories-right-side {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .stories-quote-1 {
        max-width: 350px;
    }

    .stories-quote-2 {
        max-width: 350px;
    }

    .stories-quote-3 {
        max-width: 350px;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-right-bar,
    .footer-left-bar {
        margin-top: 0;
        margin-bottom: 0;
    }

    .footer-right-bar {
        margin-left: 30px;
    }

    .footer-links {
        flex-wrap: wrap;
    }

    .footer-links div {
        margin-bottom: 10px
    }

    /** Background (Phone) **/

    .cnt-t {
        display: none;
    }

    .cnt-p {
        overflow-x: hidden;
        display: block;
        position: absolute;
        width: 375px;
        height: 1100px;
        left: 0px;
        top: 0px;
    }

    .lb-2-p {
        position: absolute;
        left: -10.56%;
        right: 81.39%;
        top: 82.97%;
        bottom: 3.58%;
    }

    .lb-1-p {
        position: absolute;
        left: 0%;
        right: 70.83%;
        top: 73.38%;
        bottom: 13.16%;
    }

    .rb-1-p {
        position: absolute;
        left: 68.61%;
        right: 2.22%;
        top: 51.73%;
        bottom: 34.81%;
    }

    .rb-2-p {
        position: absolute;
        left: 57.5%;
        right: 0%;
        top: 58.66%;
        bottom: 25.08%;
    }

    .rb-3-p {
        position: absolute;
        left: 87.5%;
        right: -16.67%;
        top: 62.53%;
        bottom: 24.02%;
    }

    .bg-p {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 13.16%;
        background: rgba(242, 247, 255, 0.7);
        backdrop-filter: blur(100px);
        opacity: 0.2;
    }

    .tc-p {
        position: absolute;
        left: 57.6%;
        right: 30.67%;
        top: 53.55%;
        bottom: 27.09%;
        background: #1DB5BE;
        opacity: 0.2;
        -webkit-filter: blur(100px);
        -moz-filter: blur(100px);
        -o-filter: blur(100px);
        -ms-filter: blur(100px);
        filter: blur(100px);
    }

    .pc-p {
        position: absolute;
        left: 75.47%;
        right: -3.73%;
        top: -4.27%;
        bottom: 57.36%;
        background: #7C3AED;
        opacity: 0.2;
        -webkit-filter: blur(100px);
        -moz-filter: blur(100px);
        -o-filter: blur(100px);
        -ms-filter: blur(100px);
        filter: blur(100px);
    }
}