@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primaryText: #111827;
    --secondaryText: #ffffff;
    --primaryColor: #7C3AED;
    --secondaryColor: #D5FAFC;
}

html {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* ------------------- Header ------------------- */

header {
    grid-area: header;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.nav-links {
    display: flex;
}

.nav-links-logo {
    display: flex;
    align-items: center;    
}

.nav-links-logo a {
    padding-left: 1rem;
}

.nav-links div {
    margin: 0 24px;
    align-self: center;
}

.nav-links div a {
    text-decoration: none;
    color: var(--primaryText);
}

.nav-store-links {
    display: flex;
}

.nav-store-links a {
    text-decoration: none;
    color: var(--secondaryText);
}

.nav-store-links-div {
    background-color: black;
    margin: 0 .5rem;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.small-link {
    font-size: .6rem;
}

.header {
    padding: 4rem 8rem;
    display: flex;
    justify-content: space-around;
}

.header-news {
    padding: 8rem 1rem;
    max-width: 648px;
}

.header-headline h1 {
    font-size: 3.5rem;
}

.header-line {
    padding-bottom: 1.5rem;
}

.header-line span {
    line-height: 2rem;
    font-size: 1.3rem;
}

.header-links {
    display: flex;
    padding-top: 1rem;
    align-items: center;
}

.header-links button {
    width: 138px;
    height: 56px;
    background-color: var(--primaryColor);
    color: var(--secondaryText);
    border: none;
    outline: none;
    font-size: 1.2rem;
    border-radius: 8px;
}

.header-links-sep {
    display: flex;
    align-content: center;
    padding-left: 42px;
}

.header-links-sep a {
    padding-left: .5rem;
    padding-top: .2rem;
    text-decoration: none;
    color: var(--primaryColor);
    font-weight: bold;
}

.header-shows {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.iphone-x {
    position: relative;
    z-index: 1;
    height: 694px;
    width: 342px;
}

.iphone-x *, .iphone-x *::before, .iphone-x *::after {
    box-sizing: border-box;
    display: block;
}

.iphone-x .side {
    background: #1c1c1c;
    border-radius: 54px;
    box-shadow: inset 0 0 2px 2px dimgrey, inset 0 0 0 6px #e2e3e9, 0px -1px 13px 9px rgba(255, 255, 255, 0.8) inset;
    height: 694px;
    padding: 15px 22px;
    width: 342px;
    z-index: 1;
}

.iphone-x .screen {
    background: #000;
    background-position: center center;
    background-size: cover;
    border-radius: 33px;
    position: relative;
    height: 652px;
    width: 300px;
    margin-left: -1px;
    margin-top: 6px;
    z-index: 198;
    overflow: hidden;
}

video {
    height: 700px;
    width: 350px;
    margin-top: -30px;
    margin-left: -10px;
}

.iphone-x .iphone-line::after, .iphone-x .iphone-line::before {
    content: "";
    position: absolute;
    border: solid rgba(68, 68, 68, 0.25);
    border-width: 0 6px;
    height: 5px;
    left: 0;
    width: 100%;
    z-index: 9;
}

.iphone-x .iphone-line::after {
    top: 68px;
}

.iphone-x .iphone-line::before {
    bottom: 68px;
}

.iphone-x .iphone-header {
    background: #1c1c1c;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    height: 24px;
    left: 50%;
    margin-left: -82px;
    position: absolute;
    top: 15px;
    width: 164px;
    z-index: 199;
}

.iphone-x .sensor-1::after, .iphone-x .sensor-1::before {
    content: "";
    position: absolute;
}

.iphone-x .sensor-1::after {
    background: #222;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    left: 1%;
    margin-left: 10px;
    top: 3px;
}

.iphone-x .sensor-1::before {
    background: #222;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    left: 10%;
    margin-left: 20px;
    top: 3px;
}

.iphone-x .sensor-2::after, .iphone-x .sensor-2::before {
    content: "";
    position: absolute;
}

.iphone-x .sensor-2::before {
    background: #333;
    border-radius: 2.5px;
    height: 5px;
    width: 40px;
    left: 50%;
    margin-left: -20px;
    top: 7px;
}

.iphone-x .sensor-3::after, .iphone-x .sensor-3::before {
    content: "";
    position: absolute;
}

.iphone-x .sensor-3::before {
    background: #444;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    left: 50%;
    margin-left: 35px;
    top: 3px;
    box-shadow: 0px 0px 5px 2px navy inset
}

.iphone-x .sensor-3::after {
    background: #222;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    left: 65%;
    margin-left: 33px;
}

.iphone-x .volume-button {
    background: #c8cacb;
    height: 26px;
    left: -2px;
    position: absolute;
    top: 92px;
    width: 3px;
}

.iphone-x .volume-button::after, .iphone-x .volume-button::before {
    content: "";
    position: absolute;
    background: #c8cacb;
    height: 50px;
    left: 0;
    width: 3px;
}

.iphone-x .volume-button::after {
    top: 48px;
}

.iphone-x .volume-button::before {
    top: 112px;
}

.iphone-x .power-button {
    background: #c8cacb;
    height: 80px;
    right: -2px;
    position: absolute;
    top: 160px;
    width: 3px;
}

/* ------------------- Main ------------------- */

main {
    grid-area: main;
    display: grid;
    grid-template-areas: 
    "links"
    "features"
    "stories";
}

.links {
    grid-area: links;
}

.links-line {
    border-top: 1px solid #E5E7EB;
    margin: 50px auto;
    width: 80%;
    justify-items: center;
}

.links-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.links-item {
    width: 170px;
}

.features {
    grid-area: features;
}

.features-header {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    font-size: 1.3rem;
}

.features-header h2 {
    font-size: 3rem;
}

.features-main {
    display: grid;
    grid-template-columns: repeat(3, 352px);
    text-align: center;
    justify-content: center;
}

.features-main div {
    margin: 50px 0;
}

.features-main h3 {
    font-size: 2rem;
}

.features-main span {
    font-size: 1.1rem;
}

.stories {
    grid-area: stories;
    background-color: var(--secondaryColor);
}

.stories-quote {
    margin: 6rem 8rem;
}

.quote-svg {
    opacity: .3;
    z-index: 1;
}

.sto

/* ------------------- Footer ------------------- */

footer {
    grid-area: footer;
    background-color: black;
    height: 200px;
}